In [247]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
% matplotlib inline
import seaborn as sns

In [248]:
movie_df = pd.read_csv('movie/movies.csv')
movie_df.head(3)

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance

[3 rows x 3 columns]

In [249]:
rating_df = pd.read_csv('ratings.csv')
rating_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [250]:
rating_df.drop('timestamp' , axis=1 , inplace=True)

In [251]:
movie_df['year'] = movie_df.title.str.extract('(\(\d\d\d\d\))' , expand = False)
movie_df['year'] = movie_df['year'].str.extract('(\d\d\d\d)' , expand = False)
movie_df['title'] = movie_df['title'].str.replace('(\(\d\d\d\d\))' , ' ' )
movie_df['title'] = movie_df['title'].apply(lambda x : x.strip())

In [252]:
movie_df['genres'] = movie_df['genres'].str.split('|')

In [253]:
movie_df.head()

   movieId  ...  year
0        1  ...  1995
1        2  ...  1995
2        3  ...  1995
3        4  ...  1995
4        5  ...  1995

[5 rows x 4 columns]

In [254]:
movie_df_genres = movie_df.copy()

for index , row in movie_df_genres.iterrows():
  for genre in row['genres']:
    movie_df_genres.at[index , genre] = 1
movie_df_genres.head()

   movieId                        title  ... Film-Noir (no genres listed)
0        1                    Toy Story  ...       NaN                NaN
1        2                      Jumanji  ...       NaN                NaN
2        3             Grumpier Old Men  ...       NaN                NaN
3        4            Waiting to Exhale  ...       NaN                NaN
4        5  Father of the Bride Part II  ...       NaN                NaN

[5 rows x 24 columns]

In [255]:
movie_df_genres.fillna(0 , inplace=True)

In [256]:
movie_df_genres.head(3)

   movieId             title  ... Film-Noir (no genres listed)
0        1         Toy Story  ...       0.0                0.0
1        2           Jumanji  ...       0.0                0.0
2        3  Grumpier Old Men  ...       0.0                0.0

[3 rows x 24 columns]

**Lets get input from user**

In [257]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':1.5},
            {'title':'Toy Story', 'rating':4.5},
            {'title':'Jumanji', 'rating':2.5},
            {'title':"Pulp Fiction", 'rating':1},
            {'title':'Akira', 'rating':4.5}
         ]

In [258]:
user_input_df = pd.DataFrame(userInput)

In [259]:
input_id = movie_df[movie_df['title'].isin(user_input_df['title'].tolist())]

In [260]:
input_movie = pd.merge(input_id , user_input_df)
input_movie

   movieId                title  ...  year rating
0        1            Toy Story  ...  1995    4.5
1        2              Jumanji  ...  1995    2.5
2      296         Pulp Fiction  ...  1994    1.0
3     1274                Akira  ...  1988    4.5
4     1968  Breakfast Club, The  ...  1985    1.5

[5 rows x 5 columns]

In [261]:
input_movie.drop(['genres','year'] , axis=1 , inplace=True)

In [262]:
input_movie

   movieId                title  rating
0        1            Toy Story     4.5
1        2              Jumanji     2.5
2      296         Pulp Fiction     1.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     1.5

In [263]:
usermovie =movie_df_genres[movie_df_genres['movieId'].isin(input_movie['movieId'].tolist())]

In [264]:
usermovie

      movieId                title  ... Film-Noir (no genres listed)
0           1            Toy Story  ...       0.0                0.0
1           2              Jumanji  ...       0.0                0.0
257       296         Pulp Fiction  ...       0.0                0.0
973      1274                Akira  ...       0.0                0.0
1445     1968  Breakfast Club, The  ...       0.0                0.0

[5 rows x 24 columns]

In [265]:
usermovie = usermovie.reset_index(drop=True)
usermovie

   movieId                title  ... Film-Noir (no genres listed)
0        1            Toy Story  ...       0.0                0.0
1        2              Jumanji  ...       0.0                0.0
2      296         Pulp Fiction  ...       0.0                0.0
3     1274                Akira  ...       0.0                0.0
4     1968  Breakfast Club, The  ...       0.0                0.0

[5 rows x 24 columns]

In [266]:
input_movie['rating']

0    4.5
1    2.5
2    1.0
3    4.5
4    1.5
Name: rating, dtype: float64

**content based**

In [267]:
userGenreTable = usermovie.drop(['movieId' ,'title','genres', 'year'] , axis=1 )
userGenreTable

   Adventure  Animation  Children  ...  Western  Film-Noir  (no genres listed)
0        1.0        1.0       1.0  ...      0.0        0.0                 0.0
1        1.0        0.0       1.0  ...      0.0        0.0                 0.0
2        0.0        0.0       0.0  ...      0.0        0.0                 0.0
3        1.0        1.0       0.0  ...      0.0        0.0                 0.0
4        0.0        0.0       0.0  ...      0.0        0.0                 0.0

[5 rows x 20 columns]

In [268]:
userProfile = userGenreTable.transpose().dot(input_movie['rating'])
userProfile

Adventure             11.5
Animation              9.0
Children               7.0
Comedy                 7.0
Fantasy                7.0
Romance                0.0
Drama                  2.5
Action                 4.5
Crime                  1.0
Thriller               1.0
Horror                 0.0
Mystery                0.0
Sci-Fi                 4.5
War                    0.0
Musical                0.0
Documentary            0.0
IMAX                   0.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

In [269]:
genre_tabel = movie_df_genres.set_index( movie_df2['movieId'])

In [270]:
genre_tabel.drop(['movieId','title','genres','year' ], 1 , inplace = True)

In [271]:
genre_tabel

         Adventure  Animation  Children  ...  Western  Film-Noir  (no genres listed)
movieId                                  ...
1              1.0        1.0       1.0  ...      0.0        0.0                 0.0
2              1.0        0.0       1.0  ...      0.0        0.0                 0.0
3              0.0        0.0       0.0  ...      0.0        0.0                 0.0
4              0.0        0.0       0.0  ...      0.0        0.0                 0.0
5              0.0        0.0       0.0  ...      0.0        0.0                 0.0
...            ...        ...       ...  ...      ...        ...                 ...
193581         0.0        1.0       0.0  ...      0.0        0.0                 0.0
193583         0.0        1.0       0.0  ...      0.0        0.0                 0.0
193585         0.0        0.0       0.0  ...      0.0        0.0                 0.0
193587         0.0        1.0       0.0  ...      0.0        0.0                 0.0
193609         0.0        0.0       0.0  ...      0.0        0.0                 0.0

[9742 rows x 20 columns]

In [272]:
recomend_df = ((genre_tabel * userGenreTable).sum(axis=1)) / (userProfile.sum())

In [273]:
recomend_df.head(3)

0    0.000000
1    0.054545
2    0.000000
dtype: float64

In [274]:
recomend_df = recomend_df.sort_values(ascending=False)
recomend_df

1         0.054545
4         0.036364
193609    0.000000
4386      0.000000
4394      0.000000
            ...
53143     0.000000
53140     0.000000
53138     0.000000
53129     0.000000
0         0.000000
Length: 9743, dtype: float64

In [275]:
movie_df.loc[movie_df['movieId'].isin(recomend_df.head(20).keys())]

      movieId  ...  year
0           1  ...  1995
3           4  ...  1995
3236     4372  ...  2001
3237     4373  ...  2001
3238     4374  ...  1999
3239     4378  ...  2000
3240     4380  ...  2000
3241     4381  ...  2001
3242     4383  ...  2000
3243     4384  ...  2000
3244     4386  ...  2001
3245     4387  ...  2001
3246     4388  ...  2001
3247     4389  ...  2001
3248     4390  ...  2000
3249     4392  ...  1990
3250     4393  ...  1988
3251     4394  ...  1965
3253     4396  ...  1981
9741   193609  ...  1991

[20 rows x 4 columns]